<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">NavUP Account confirmation email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p style='text-align: left; color: #222222; font-size: 14px; font-weight: normal; line-height: 19px;'>

    <br> Hi ${name},</br> <br> You have succesfully registered on the NavUP system.</br> <br>
    Your username is ${userEmailId} . </br> <br> <br>
    Any questions? Get in touch with us via ${dialrSupportEmail}
    or call ${dialerSupportNumber}.</br>
    <br> Cheers,
    <br> <span style='color: #222222;'>NavUp Team</span></br>
</p>

</body>
</html>